@font-face {
	font-family: 'Gotham Pro';
	src:
    url("../fonts/GothamPro-Medium.woff2") format('woff2'),
		url("../fonts/GothamPro-Medium.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url("../fonts/GothamPro-Light.woff") format('woff'),
		url("../fonts/GothamPro-Light.woff2") format('woff2');
	font-weight: 300;
	font-style: normal;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  h2,h3,h4,h5,h6,p {
    color: black;
    font-weight: 300;
  }
  
  img{
    max-width: 100%;
  }

  
  body {
    margin: 0 auto;
    min-width: 1200px;
    font-family: 'Gotham Pro', 'Muller', serif;
    background-color: white;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .row {
    flex-wrap: wrap;
    align-items: center;
  }

  ul{
    list-style: none;
  }

  .flex {
  display: flex;
  }

  .header {
    padding: 0.65rem 1rem;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color:black;
    align-items: center;
  }

  .header__logo{
      margin: 0;
      font-size: 24px;
      color: white;
      cursor: pointer;
  }

  .header__nav{
    flex-wrap: wrap;
  }

  .nav__list{
    width: 70rem;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .nav__item{
    font-weight: 500;
    text-decoration: none;
    transition: 1s linear;
    border-radius: 45%;
  }

  .nav__item:hover{
    color: black;
    background: whitesmoke;
  }

  .main__container {
    padding: 2rem;
    margin: 0 auto;
    width:100%;
  }

  .nav__item-border {
    width: 1px;
    height: 1,4rem;
    border-right: 1px solid white;
  }

  .main__section {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
  }

  .main__section- {
  width:70%;
  margin: 0 auto;
  text-align: justify;
  padding: 1rem;
  }

  .footer {
    background-color: black;
    padding: 70px 0;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4 {
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-size: 500;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: whitesmoke;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
  }

  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: grey;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: whitesmoke;
    transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover {
    color: whitesmoke;
    background-color: whitesmoke;
  }

  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }